<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- Mybatis 核心配置文件： 配置了数据源、连接池、映射mapper文件-->
<configuration>


  <settings>
    <setting name="logImpl" value="LOG4J"/>
  </settings>
  <!-- 给实体类取别名-->
  <typeAliases>
    <typeAlias type="com.chixing.entity.Customer" alias="Customer"></typeAlias>
  </typeAliases>


</configuration>